@media (max-width: 468px) {
  body {
    margin: 60px auto;
    max-width: 900px;
  }
  .width {
    max-width: 300px;
    max-height: 200px;
  }
  .second-a {
    margin-right: 10px;
  }
  .h1-class {
    font-size: 30px;
  }
  .container-footer {
    min-height: 200px;
  }
  .navi {
    width: 325px;
    display: block;
    margin: 0 auto;
  }
  .size-font {
    font-size: 5px;
  }
  .circles {
    display: none;
  }
  img {
    height: 50px;
    width: 90px;
  }
  .image {
    height: 50px;
    width: 90px;
  }
  .contact-icons {
    font-size: 7px;
  }
}

:root {
  --main-colour: #f3d4f0;
  --homepage-darker-shade: #350444;
  --font-navi-colour: #2e0330;
  --sub-colour: #fdd6f7;
  --other-page-lighter-shade: #f55f99;
  --lighter-shade-pink: rgb(247, 163, 219);
}
body {
  background-color: var(--font-navi-colour);
}
h2 {
  margin-top: 100px;
  text-align: center;
}

h1 {
  font-size: 90px;
  text-align: center;
  text-shadow: 2px 2px 5px var(--other-page-lighter-shade);
  font-weight: 900;
  margin-top: 10px;
}
p {
  text-align: center;
  font-size: 40px;
}
img {
  height: 100px;
  border-radius: 50px;
  width: 150px;
}

.container-footer {
  width: 100%;
  height: 100px;
  background-color: var(--sub-colour);
}

.small {
  font-size: 15px;
}
.number-3 {
  font-size: 65px;
  color: var(--main-colour);
  font-family: Roboto;
  text-align: center;
  text-shadow: 2px 2px 5px var(--other-page-lighter-shade);
}
.icons {
  font-size: 36px;
  background-color: var(--other-page-lighter-shade);
}
.color {
  background-color: var(--sub-colour);
}
.bg-colour {
  background-color: #350444;
}
.first-container {
  margin-top: 100px;
  background-color: var(--main-colour);
  width: 100%;
  height: 500px;
  font-family: Oswald;
  color: var(--font-navi-colour);
}
.second-first-container {
  margin-top: 50px;
  width: 300px;
  height: 10px;
}
.a {
  color: var(--other-page-lighter-shade);
}

.a:hover {
  color: var(--homepage-darker-shade);
}
.second-container {
  margin-top: 200px;
  width: 100%;
  height: fit-content;
  background-color: var(--sub-colour);
  font-family: roboto;
}
.headin-2 {
  margin-top: 0;
  margin-left: 20px;
}
.paragraph {
  text-align: left;
  font-size: 20px;
  border-bottom: 100px;
}

.wight {
  font-size: 20px;
}

.slide-right {
  border-top: 5px dotted violet;
  border-width: 50px;
}
.me-twoo {
  display: none;
}
.second-fourth-container {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  background-color: var(--lighter-shade-pink);
  font-size: 25px;
}
.image {
  width: 300px;
  height: 250px;
}

.first {
  background-color: rgb(255, 155, 222);
}
.last-container {
  width: 100%;
  height: 600px;
  margin-top: 100px;
  background-color: rgb(223, 199, 223);
}
.nav-item {
  padding: 0 15px;
  text-align: end;
}

.social-links {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.wrap {
  width: 900px;
  height: 150px;
  background-color: #d9b5e4;
  margin-top: 100px;
}
