:root {
  --main-colour: #8834f5;
  --homepage-darker-shade: #d5b6fd;
  --font-navi-colour: #6201b1;
  --sub-colour: #dccfed;
  --other-page-lighter-shade: #c4c6c7;
}
body {
  background-color: var(--homepage-darker-shade);
  color: var(--font-navi-colour);
  font-family: Oswald;
}

img {
  border-radius: 25px;
  width: 550px;
  height: 400px;
  margin-top: 10px;
  display: flex;
  margin-right: 100px;
}
h2 {
  margin-top: 60px;
  text-align: center;
}

h1 {
  font-size: 90px;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(243, 167, 167);
  font-weight: 900;
  font-family: Roboto;
}
p {
  text-align: center;

  font-size: 40px;
}

.container-footer {
  width: 100%;
  height: 100px;
  background-color: var(--sub-colour);
}

.small {
  font-size: 15px;
  color: var(--sub-colour);
}
.number-3 {
  font-size: 65px;
  color: var(--main-colour);
  font-family: Roboto;
  text-align: center;
}
.icons {
  font-size: 36px;
}
.button-color {
  background-color: var(--sub-colour);
}
.about-container {
  width: 100%;
  height: 100%;
}

.skill-container {
  width: 500px;
  height: 150px;
}
